{% extends 'base.html' %}

{% block encabezado %} 

<center><h2>Clasificación de LaLiga</h2></center>

{% endblock %}

{% block contenido %} 
<table class="striped">
    <thead>
        <tr class="text-center">
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Posición</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Nombre</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Puntos</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Partidos Jugados</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Victorias</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Empates</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Derrotas</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Diferencia de goles</th>
        </tr>
    </thead>
    <tbody>
        {% for row in clasificacionP %}
        <tr class="text-center">
                <td class="align-middle">{{row.idClasificacion}}</td>
                <td class="align-middle">{{row.nombreEquipo}}</td>
                <td class="align-middle">{{row.puntos}}</td>
                <td class="align-middle">{{row.partidosJ}}</td>
                <td class="align-middle">{{row.victorias}}</td>
                <td class="align-middle">{{row.empates}}</td>
                <td class="align-middle">{{row.derrotas}}</td>
                <td class="align-middle">{{row.diferenciaG}}</td>
        </tr>
                {% endfor %}
    </tbody>
</table>
{% endblock %}