{% extends 'base.html' %}

{% block encabezado %} 

<center><h2>Equipos de LaLiga</h2></center>

{% endblock %}

{% block contenido %} 
<table class="striped">
    <thead>
        <tr class="text-center">
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Escudo</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Nombre</th>
            <th class="align-middle" style="background-color: #cec9c9;" scope="col">Link a ESPN</th>
        </tr>
    </thead>
    <tbody>
        {% for row in equiposP %}
        <tr class="text-center">
                <td class="align-middle"><img src={{row.escudo}}></td>
                
                <td class="align-middle">{{row.nombreEquipo}}</td>
                <td class="align-middle"><a href={{row.linkEquipo}}> Link del equipo</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}