{% extends 'base.html' %}

{% block encabezado %}

<style>.block {
    text-align: center;
    }       

.b {
    padding: 50px;
    display: inline-block;
    }</style>
<br>
<center><h1>Películas</h1></center>

{% endblock %}

{% block contenido %} 

    <div class="block">
        {% for p in peliculas %}
        <div class="b">
            <a href="/detallesPelicula/{{p.id}}"><img class="img-thumbnail"width="500px" height="800px"src="{{p.portada}}"></a>
                <h3>{{p.titulo}}</h3>             
                {% for genero in p.generos.all %}
                <h5>{{ genero }}</h5>
                {% endfor %}
                <h6>Duración: {{p.duracion}}</h6>

            </div>
        {% endfor %}
{% endblock %}